@tailwind base;
@tailwind components;
@tailwind utilities;
@import "mixins";
@import "animations";

html,
body {
  font-size: 15px;
  font-family: 'Montserrat', Helvetica Neue, sans-serif !important;
}

h1 {
  font: 3rem/4rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h2 {
  font: 2.5rem/3.5rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h3 {
  font: 1.8rem/2.8rem 'Bebas Neue', Helvetica Neue, sans-serif;
}

h4 {
  font: 600 1.2rem/2.2rem 'Montserrat', Helvetica Neue, sans-serif;
}

p {
  font: 400 1rem/2rem 'Montserrat', Helvetica Neue, sans-serif;
  margin: 0;
}

@include respond-above(xxs) {
  h1 {
    font: 4rem/5rem 'Bebas Neue', Helvetica Neue, sans-serif;
  }

  h2 {
    font: 3rem/4rem 'Bebas Neue', Helvetica Neue, sans-serif;
  }

  h3 {
    font: 2.5rem/3.5rem 'Bebas Neue', Helvetica Neue, sans-serif;
  }

  h4 {
    font: 600 1.3rem/2.5rem 'Montserrat', Helvetica Neue, sans-serif;
  }

  p {
    font: 400 1rem/2rem 'Montserrat', Helvetica Neue, sans-serif;
    margin: 0;
  }
}

h1, h2, h3, h4, p {
  margin: 0 !important;
}

:root {
  --background: theme('colors.slate.200');
  --foreground: theme('colors.slate.900');
}

.homepage-container {
  background-image: url("../../../public/images/weather-app-bg.jpg");
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.slate.900');
    --foreground: theme('colors.slate.200');
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: theme('colors.gray.800');
  z-index: 40;
  overflow: hidden;
  height: 80px;
  h2 {
    line-height: 3rem !important;
  }
}

.app-body {
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

.weather-card {
  background-color: rgba(#475569, 0.4);
}

.map-container {
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow: hidden;
  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%) grayscale(100%);
  }
}

.error-container {
  height: 100vh;
  text-align: center;
}

ul {
  list-style: disc !important;
  li {
    margin-left: 20px;
  }
}

.outlined-text {
  color: white; /* Set the base color of the text */
  text-shadow:
          -2px -2px 0 theme('colors.gray.600'),
          2px -2px 0 theme('colors.gray.600'),
          -2px  2px 0 theme('colors.gray.600'),
          2px  2px 0 theme('colors.gray.600');
}
